(
    seed: 12648430,
    map_signature: 3516427190770057029,
    snapshots: [
        (
            frame: 60,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 0,
            enemies: 4,
            abilities: 4,
            talents: 0,
            statuses: 1,
            px: 35.0,
            py: 0.0,
        ),
        (
            frame: 120,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 3,
            enemies: 3,
            abilities: 4,
            talents: 0,
            statuses: 0,
            px: 37.1,
            py: 13.6,
        ),
        (
            frame: 180,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 3,
            enemies: 3,
            abilities: 4,
            talents: 0,
            statuses: 1,
            px: 24.8,
            py: 43.5,
        ),
        (
            frame: 240,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 6,
            enemies: 2,
            abilities: 4,
            talents: 0,
            statuses: 0,
            px: 9.5,
            py: 41.6,
        ),
        (
            frame: 300,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 6,
            enemies: 2,
            abilities: 4,
            talents: 0,
            statuses: 1,
            px: -18.7,
            py: 25.1,
        ),
        (
            frame: 360,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 9,
            enemies: 4,
            abilities: 4,
            talents: 0,
            statuses: 0,
            px: -53.7,
            py: 25.1,
        ),
        (
            frame: 420,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 9,
            enemies: 4,
            abilities: 4,
            talents: 0,
            statuses: 1,
            px: -88.7,
            py: 25.1,
        ),
        (
            frame: 480,
            state: "InRun",
            hp: 100.0,
            level: 2,
            xp: 2,
            enemies: 3,
            abilities: 5,
            talents: 0,
            statuses: 0,
            px: -88.8,
            py: 39.6,
        ),
        (
            frame: 540,
            state: "InRun",
            hp: 100.0,
            level: 2,
            xp: 2,
            enemies: 3,
            abilities: 5,
            talents: 0,
            statuses: 1,
            px: -66.5,
            py: 65.4,
        ),
        (
            frame: 600,
            state: "InRun",
            hp: 100.0,
            level: 2,
            xp: 5,
            enemies: 2,
            abilities: 5,
            talents: 0,
            statuses: 0,
            px: -53.3,
            py: 68.5,
        ),
        (
            frame: 660,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 20,
            enemies: 5,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: -25.0,
            py: 56.5,
        ),
        (
            frame: 720,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 23,
            enemies: 4,
            abilities: 9,
            talents: 1,
            statuses: 0,
            px: 10.0,
            py: 56.5,
        ),
        (
            frame: 780,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 26,
            enemies: 3,
            abilities: 9,
            talents: 1,
            statuses: 0,
            px: 36.0,
            py: 52.8,
        ),
        (
            frame: 840,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 26,
            enemies: 3,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: 11.2,
            py: 28.1,
        ),
        (
            frame: 900,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 26,
            enemies: 3,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: 1.3,
            py: -2.8,
        ),
        (
            frame: 960,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 26,
            enemies: 7,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: 1.3,
            py: -37.8,
        ),
        (
            frame: 1020,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 34,
            enemies: 6,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: 1.3,
            py: -72.8,
        ),
        (
            frame: 1080,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 34,
            enemies: 6,
            abilities: 9,
            talents: 1,
            statuses: 1,
            px: 1.3,
            py: -107.8,
        ),
        (
            frame: 1140,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 2,
            enemies: 5,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: 13.3,
            py: -112.2,
        ),
        (
            frame: 1200,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 2,
            enemies: 5,
            abilities: 9,
            talents: 2,
            statuses: 1,
            px: 38.1,
            py: -87.5,
        ),
        (
            frame: 1260,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 5,
            enemies: 7,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: 48.0,
            py: -62.7,
        ),
        (
            frame: 1320,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 5,
            enemies: 7,
            abilities: 9,
            talents: 2,
            statuses: 1,
            px: 45.9,
            py: -28.6,
        ),
        (
            frame: 1380,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 8,
            enemies: 6,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: 38.1,
            py: 3.2,
        ),
        (
            frame: 1440,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 11,
            enemies: 5,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: 24.4,
            py: 32.6,
        ),
        (
            frame: 1500,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 14,
            enemies: 4,
            abilities: 9,
            talents: 2,
            statuses: 1,
            px: 0.5,
            py: 9.8,
        ),
        (
            frame: 1560,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 20,
            enemies: 5,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: -29.4,
            py: -2.6,
        ),
        (
            frame: 1620,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 23,
            enemies: 4,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: -56.2,
            py: -21.6,
        ),
        (
            frame: 1680,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 26,
            enemies: 3,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: -76.3,
            py: -9.6,
        ),
        (
            frame: 1740,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 26,
            enemies: 3,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: -51.5,
            py: 15.2,
        ),
        (
            frame: 1800,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 29,
            enemies: 2,
            abilities: 9,
            talents: 2,
            statuses: 0,
            px: -43.3,
            py: 41.8,
        ),
    ],
)