(
    seed: 12648430,
    map_signature: 3516427190770057029,
    snapshots: [
        (
            frame: 60,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 0,
            enemies: 4,
            abilities: 3,
            talents: 0,
            px: 35.0,
            py: 0.0,
        ),
        (
            frame: 120,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 0,
            enemies: 4,
            abilities: 3,
            talents: 0,
            px: 70.0,
            py: 0.0,
        ),
        (
            frame: 180,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 3,
            enemies: 3,
            abilities: 3,
            talents: 0,
            px: 98.0,
            py: 2.9,
        ),
        (
            frame: 240,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 3,
            enemies: 3,
            abilities: 3,
            talents: 0,
            px: 73.3,
            py: 27.6,
        ),
        (
            frame: 300,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 3,
            enemies: 3,
            abilities: 3,
            talents: 0,
            px: 53.1,
            py: 54.3,
        ),
        (
            frame: 360,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 6,
            enemies: 5,
            abilities: 3,
            talents: 0,
            px: 56.4,
            py: 87.9,
        ),
        (
            frame: 420,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 6,
            enemies: 5,
            abilities: 3,
            talents: 0,
            px: 56.4,
            py: 122.9,
        ),
        (
            frame: 480,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 6,
            enemies: 5,
            abilities: 3,
            talents: 0,
            px: 56.4,
            py: 157.9,
        ),
        (
            frame: 540,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 9,
            enemies: 4,
            abilities: 3,
            talents: 0,
            px: 34.5,
            py: 140.1,
        ),
        (
            frame: 600,
            state: "InRun",
            hp: 100.0,
            level: 1,
            xp: 9,
            enemies: 4,
            abilities: 3,
            talents: 0,
            px: 9.6,
            py: 115.8,
        ),
        (
            frame: 660,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 17,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: -21.1,
            py: 109.6,
        ),
        (
            frame: 720,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 20,
            enemies: 5,
            abilities: 8,
            talents: 1,
            px: -35.5,
            py: 96.8,
        ),
        (
            frame: 780,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 20,
            enemies: 5,
            abilities: 8,
            talents: 1,
            px: -66.8,
            py: 105.9,
        ),
        (
            frame: 840,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 23,
            enemies: 4,
            abilities: 8,
            talents: 1,
            px: -90.8,
            py: 110.4,
        ),
        (
            frame: 900,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 23,
            enemies: 4,
            abilities: 8,
            talents: 1,
            px: -66.1,
            py: 135.2,
        ),
        (
            frame: 960,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 23,
            enemies: 8,
            abilities: 8,
            talents: 1,
            px: -55.4,
            py: 165.7,
        ),
        (
            frame: 1020,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 26,
            enemies: 7,
            abilities: 8,
            talents: 1,
            px: -56.2,
            py: 200.4,
        ),
        (
            frame: 1080,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 29,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: -55.8,
            py: 234.4,
        ),
        (
            frame: 1140,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 29,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: -31.0,
            py: 209.6,
        ),
        (
            frame: 1200,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 29,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: -6.3,
            py: 184.9,
        ),
        (
            frame: 1260,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 38,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: 28.4,
            py: 184.1,
        ),
        (
            frame: 1320,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 38,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: 63.4,
            py: 184.1,
        ),
        (
            frame: 1380,
            state: "InRun",
            hp: 100.0,
            level: 7,
            xp: 38,
            enemies: 6,
            abilities: 8,
            talents: 1,
            px: 98.4,
            py: 184.1,
        ),
        (
            frame: 1440,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 1,
            enemies: 5,
            abilities: 8,
            talents: 2,
            px: 76.9,
            py: 206.8,
        ),
        (
            frame: 1500,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 1,
            enemies: 5,
            abilities: 8,
            talents: 2,
            px: 52.5,
            py: 231.7,
        ),
        (
            frame: 1560,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 1,
            enemies: 8,
            abilities: 8,
            talents: 2,
            px: 52.5,
            py: 266.7,
        ),
        (
            frame: 1620,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 4,
            enemies: 7,
            abilities: 8,
            talents: 2,
            px: 56.3,
            py: 300.1,
        ),
        (
            frame: 1680,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 7,
            enemies: 6,
            abilities: 8,
            talents: 2,
            px: 50.9,
            py: 322.2,
        ),
        (
            frame: 1740,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 7,
            enemies: 6,
            abilities: 8,
            talents: 2,
            px: 26.1,
            py: 297.4,
        ),
        (
            frame: 1800,
            state: "InRun",
            hp: 100.0,
            level: 8,
            xp: 7,
            enemies: 6,
            abilities: 8,
            talents: 2,
            px: 1.4,
            py: 272.7,
        ),
    ],
)